.react-calendar__tile--active{
  background: white !important;
  border: 1px solid #c91818a3;
}

.react-calendar__month-view__days__day {
  background: #394e65e3;
  border: none;
}

.react-calendar__month-view__days__day > abbr {
  color: white;
}

.react-calendar__tile--active > abbr {
  color: black;
}